<!DOCTYPE html>
<html>
<head>
    <title>Magic Words (LLM Control)</title>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
    </script>
</head>
<body>
    <div class="container mt-5">
        <h1>What's the Magic Word? </h1>
        <p>
            Paper: <a href="https://arxiv.org/abs/2310.04444">What's the Magic Word? A Control Theory of LLM Prompting
            </a> (arXiv:2310.04444)

        </p>
        <h2>LLM Control Game -- Greedy GPT-2 Generation</h2>
		<p><i><a href="https://aman-bhargava.com/">Aman</a>, May 2024</i>
		</p>
        <p>
            Your goal is to find an optimal prompt \(\mathbf u \in \mathcal V^k\) s.t.
            the output of the LLM \(\mathbf y\) is steered to the desired output \(\mathbf y^*\)
            given imposed state \(\mathbf x_0\). 
        </p>
        <p>
            We talk about the game in this MLST podcast episode at 17 minutes:
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Bpgloy1dDn0?si=wrq2CBvFeSzgaWvc&amp;start=1027" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>
        <p>
            LLM control theory seminar: <a href="https://youtu.be/tlAhCuekN6Q?si=ipZoBVVPSpyF24GU">Overview (2min)</a>, <a href="https://youtu.be/9QtS9sVBFM0?si=6O65NZuv_kLOFk84">Full (1h)</a>
        </p>
        <p>
            Paper: <a href="https://arxiv.org/abs/2310.04444">What's the Magic Word? A Control Theory of LLM Prompting
            </a> (arXiv:2310.04444) -- <i>special thanks to my collaborators <a
            href="https://x.com/witkowski_cam">Cameron Witkowski</a>, <a
            href="https://x.com/Sz_Looi">Shi-Zhuo Looi</a>, and my supervisor
            Matt Thomson. </i>
        </p>
        <!-- Image from reachability.png -->
        <!-- center div-->
        <div style="display: flex; justify-content: center;">
            <img src="https://i.imgur.com/odiaPs9.png" class="img-fluid" alt="Reachability" style="max-height: 300px; width: auto;">
        </div>
        <div id="top-engineer" class="mt-3"></div>
        <!-- <form hx-post="/inferencegenerate" hx-target="#generated-text">
            <div class="form-group">
                <label for="system-prompt">Control input \(\mathbf u\):</label>
                <input type="text" class="form-control" id="system-prompt" name="system_prompt" required>
            </div>
            <div class="form-group">
                <label for="input-string">Imposed State \(\mathbf x_0\):</label>
                <textarea class="form-control" id="input-string" name="input_string" rows="5" readonly>Roger Federer is the </textarea>
            </div>
            <div class="form-group">
                <label for="desired-output">Desired Output \(\mathbf y^*\):</label>
                <input type="text" class="form-control" id="desired-output" name="desired_output" value="greatest" readonly>
            </div>
            <div class="form-group">
                <label for="generated-text">Actual Output \(\mathbf y\):</label>
                <div id="generated-text" class="mt-3"></div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="cheat-checkbox">
                <label class="form-check-label" for="cheat-checkbox">Let me cheat</label>
            </div>
            <input name="num_tokens" value="6" readonly>
            <button type="submit" class="btn btn-primary">Generate</button>
        </form> -->
        <h2>Compete in the LLM Control Game</h2>
        <p>Leaderboard updates every few minutes. If it crashes send me a screen shot at <a href="https://x.com/abhargava2000">x.com/abhargava2000</a> or preferably 
        raise an <a href="https://github.com/amanb2000/control.languagegame.io">issue on Github</a>.</p>
        <form hx-post="/inferencegenerate" hx-target="#generated-text">
            <div class="form-group">
                <label for="nickname">Nickname for leaderboard:</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Your nickname here..." required>
            </div>
            <div class="form-group">
                <label for="system-prompt">Control input \(\mathbf u\):</label>
                <input type="text" class="form-control bg-dark text-light" id="system-prompt" name="system_prompt" placeholder="Your prompt here..." required>
            </div>
            <div class="form-group">
                <label for="input-string">Imposed State \(\mathbf x_0\):</label>
                <textarea class="form-control bg-success text-light" id="input-string" name="input_string" rows="5" readonly>Roger Federer is the </textarea>
            </div>
            <div class="form-group">
                <label for="desired-output">Desired Output \(\mathbf y^*\):</label>
                <input type="text" class="form-control bg-warning text-dark" id="desired-output" name="desired_output" value="greatest" readonly>
            </div>
            <div class="form-group">
                <label for="generated-text">Actual Output \(\mathbf y\):</label>
                <div id="generated-text" class="mt-3 bg-warning text-dark"></div>
            </div>
            <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="cheat-checkbox">
                <label class="form-check-label" for="cheat-checkbox">Let me cheat</label>
            </div> -->
            <input name="num_tokens" value="6" hidden readonly>
            <button type="submit" class="btn btn-primary">Generate</button>
        </form>
        <div id="generated-text" class="mt-3"></div>
        <!-- <div id="output-check" class="mt-3"></div> -->
    </div>
    <div class="container mt-5">
        <h2>Leaderboard</h2>
        <p>
            The leaderboard is limited to the top 1000 entries. If you submit a 
            duplicate prompt, only the original submission will be displayed in 
            the rankings. 
        </p>
        <p>
            Prompts that reached the goal output \(\mathbf y^*\)="greatest" are 
            ranked above prompts that did not reach the desired output. Here we
            consider the argmax/zero-temperature decoding form of reachability 
            discussed in the paper. 
        </p>
        <p>
            Prompts that reached the goal output are ranked by how short their 
            control input was. The length of the prompt is measured in number of 
            characters and is shown as \(k\) on the leaderboard. 
            Prompts that did not reach the goal output are ranked by their 
            cross entropy loss w.r.t. the output. 
        </p>
        <p>Ranked by CE loss, \(\mathcal L(\mathbf u) = -\log P_{LM}(\mathbf y^* | \mathbf{u + x_0})\)</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nickname</th>
                    <th>Control Input</th>
                    <th>CE loss</th>
                    <th>k</th>
                    <th>Generated Text</th>
                    <th>Desired Output</th>
                    <th>Time of Request</th>
                    <th>Reached Desired Output</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
            </tbody>
        </table>
    </div>

    <script>
        fetch('/inferenceleaderboard')
            .then(response => response.json())
            .then(data => {
                const leaderboardBody = document.getElementById('leaderboard-body');
                data.forEach(entry => {
                    const row = document.createElement('tr');
                    const topEngineerDiv = document.getElementById('top-engineer');
                    // Check if there are any entries
                    if (data.length > 0) {
                        // Get the top-ranked entry
                        const topEntry = data[0];

                        // Create the content for the top-ranked prompt engineer
                        const topEngineerContent = `
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Champion Prompt Engineer: ${topEntry['nickname']} (${topEntry['time of request']})</h4>
                            <ul>
                            <li><strong>Reached Desired Output:</strong> ${topEntry['reached desired output']}</li>
                            <li><strong>Prompt Length (k):</strong> ${topEntry['k']}</li>
                            </ul>
                            <p>Awarded for the minimal length prompt that steers the model to produce the goal output. See leaderboard below for more info!</p>
                        </div>
                        `;

                        // Set the content in the top-engineer div
                        topEngineerDiv.innerHTML = topEngineerContent;
                    }
                    
                    // Check if reached desired output is true
                    if (entry['reached desired output'] == "True") {
                        console.log(entry)
                        // Add "table-success" class to highlight the row in green
                        row.classList.add('table-success');
                    }
                    console.log("rank: ", entry['rank'])
                    
                    row.innerHTML = `
                        <td>${entry['rank']}</td>
                        <td>${entry['nickname']}</td>
                        <td>${entry['control input']}</td>
                        <td>${entry['ce loss']}</td>
                        <td>${entry['k']}</td>
                        <td>${entry['generated text']}</td>
                        <td>${entry['desired output']}</td>
                        <td>${entry['time of request']}</td>
                        <td>${entry['reached desired output']}</td>
                    `;
                    leaderboardBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error:', error));
    </script>
    <script>
        const cheatCheckbox = document.getElementById('cheat-checkbox');
        const inputString = document.getElementById('input-string');
        const desiredOutput = document.getElementById('desired-output');

        cheatCheckbox.addEventListener('change', function() {
            if (this.checked) {
                inputString.readOnly = false;
                desiredOutput.readOnly = false;
            } else {
                inputString.readOnly = true;
                desiredOutput.readOnly = true;
            }
        });
    </script>
</body>
</html>
